@import "./components/buttons.css";


.showPage{
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    width: 90%;
    justify-content: center;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    animation: slideIn 0.3s forwards;
}

  
  h2 {
    color: #007bff;
    text-align: center;
  }
  
  .person-details {
    line-height: 1.6;
  }
  
  .person-details p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .person-details strong {
    color: #007bff;
  }
  